@using MoviesWebsite.Data
@model IdentityRole
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = "Delete role";
}
<partial name="_StatusMessage"></partial>

<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <p>Do you want to delete <strong>@Model.Name</strong></p>
            <div class="form-group">
                <input type="submit" value="Agree" class="btn btn-danger" />
                <a class="btn btn-primary" asp-action="Index">List of role</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@{
    _AdminSidebarService.SetActive("Role", "Index", "Identity");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}
