@{
    ViewData["Title"] = "Home Page";
}


<div class="slider sliderv2">
    <div class="container">
        <div class="row">
            <div class="slider-single-item">
                @await Component.InvokeAsync("PopularSlide", new { size = 3 })
            </div>
        </div>
    </div>
</div>

<div class="movie-items full-width">
    <div class="row">
        <div class="col-md-12">
            <div class="title-hd">
                <h2>Films</h2>
                <a asp-area="" asp-controller="ViewMovies" asp-action="Index" class="viewall">
                    View all <i class="ion-ios-arrow-right"></i>
                </a>
            </div>
            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#tab1-h2">#Popular</a></li>
                    <li><a href="#tab2-h2"> #Coming soon</a></li>
                    <li><a href="#tab3-h2"> #Top rated </a></li>
                    <li><a href="#tab4-h2"> #Propose </a></li>
                    @* <li><a href="#tab4-h2"> #Most reviewed</a></li> *@
                </ul>
                <div class="tab-content">
                    <div id="tab1-h2" class="tab active">
                        <div class="row">
                            <div class="slick-multiItem2">
                                @await Component.InvokeAsync("HomeMovieList", new { filter = "Popular" })
                            </div>
                        </div>
                    </div>
                    <div id="tab2-h2" class="tab">
                        <div class="row">
                            <div class="slick-multiItem2">
                                @await Component.InvokeAsync("HomeMovieList", new { filter = "ComingSoon" })
                            </div>
                        </div>
                    </div>
                    <div id="tab3-h2" class="tab">
                        <div class="row">
                            <div class="slick-multiItem2">
                                @await Component.InvokeAsync("HomeMovieList", new { filter = "TopRated" })
                            </div>
                        </div>
                    </div>
                    <div id="tab4-h2" class="tab">
                        <div class="row">
                            <div class="slick-multiItem2">
                                @await Component.InvokeAsync("HomeMovieList", new { filter = "Propose" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="latestnew full-width">
    <div class="row">
        <div class="col-md-9">
            <div class="ads adsv2">
                <img src="images/uploads/ads2.png" alt="" />
            </div>
            <div class="title-hd">
                <h2>Latest news</h2>
                <a href="#" class="viewall">
                    see all news <i class="ion-ios-arrow-right"></i>
                </a>
            </div>
            <div class="latestnewv2">
                <div class="blog-item-style-2">
                    <a href="#">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSBrzpXhtt52Bn29vWW6MM9YHIdWOPmRWoi4AEHHV0kkeb97BXK" alt="" />
                    </a>
                    <div class="blog-it-infor">
                        <h3>
                            <a href="#">Godzilla: King Of The Monsters Adds O’Shea Jackson Jr</a>
                        </h3>
                        <span class="time">27 Mar 2017</span>
                        <p>
                            Looks like Kong: Skull Island started a tradition with its
                            casting of Straight ...
                        </p>
                    </div>
                </div>
                <div class="blog-item-style-2">
                    <a href="#">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSbjUDAKte36nFaGtRMFpqQf3FLRNr4pSjBwrsDe9pLOekq5FNJ" alt="" />
                    </a>
                    <div class="blog-it-infor">
                        <h3>
                            <a href="#">
                                First Official Images of Alicia Vikander As Tomb Raider’s
                                Lara Croft
                            </a>
                        </h3>
                        <span class="time">27 Mar 2017</span>
                        <p>
                            Aside from the her digital incarnation, the most recognisable
                            image of Tomb ...
                        </p>
                    </div>
                </div>
                <div class="blog-item-style-2">
                    <a href="#">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT723JIPUHcENHBOTt7QNB49iHhSV_HvQlz2RT_wKl_WGIP11p0" alt="" />
                    </a>
                    <div class="blog-it-infor">
                        <h3>
                            <a href="#">
                                New Spider-Man: Homecoming Poster Finds Peter Parker At
                                Rest
                            </a>
                        </h3>
                        <span class="time">27 Mar 2017</span>
                        <p>
                            He might be a primary protector of New York City, but at
                            heart, Peter Parker is ...
                        </p>
                    </div>
                </div>
                <div class="blog-item-style-2">
                    <a href="#">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoeJWOnpIFALAT1h2VoIdXQV_AiKr5EnWNdVMSiQghAP2qpCx9" alt="" />
                    </a>
                    <div class="blog-it-infor">
                        <h3>
                            <a href="#">
                                Joseph Gordon-Levitt Directing Moive Musical Comedy
                                Wingmen
                            </a>
                        </h3>
                        <span class="time">27 Mar 2017</span>
                        <p>
                            A little over a year ago, we learned that Joseph Gordon-Levitt
                            and Channing ...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sidebar">
                <div class="celebrities">
                    <h4 class="sb-title">Spotlight Celebrities</h4>
                    @await Component.InvokeAsync("Actor")
                </div>
            </div>
        </div>
    </div>
</div>
