@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        You have successfully validate your email. 
        <a asp-controller="Account" asp-action="Login">Click here to login</a>.
    </p>
</div>
