@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"].</h1>
<p>
    You have reset your password, 
    <a asp-controller="Account" asp-action="Login">
        click here to login
    </a>
</p>
